In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Finetuning_result_256256.csv')
df

,Unnamed: 0,can,score,time
0,0,Nc1[CH]ncc1-c1ccc(C2=NS(=O)(=O)c3c(O)c(Cl)ccc3...,-7.4,180.017038
1,1,c1(C)c2c(C(NC(OC)=O)C(O)=O)c(cccc2)c(NC(=O)N)c1,-6.8,340.299574
2,2,FC(F)(F)c1cccc(CN2C[C@@H](C)C(=O)C2)c1NC(=O)C(...,-6.1,286.384959
3,3,OC(Cc1ccc2c(c1)N(C(=O)CO)CC2)C(Cc1ccccc1)=O,-5.7,300.086417
4,4,CN1c2ccccc2C(=O)Nc2ccccc2S1(=O)=O,-6.0,239.511909
...,...,...,...,...
1084,1084,C1CCCCC1N(Cc1c(C2CCC2)cc(CC2CC2)nc1)c1ccccc1,NaN,NaN
1085,1085,C1C(C2=C(C(=O)NC)C3(CCCCC3)CCC2(C)CN)C=C1,NaN,NaN
1086,1086,O=C(NC(C(F)(F)F)C(F)(F)F)CCC(=O)N1CCNCC1,NaN,NaN
1087,1087,s1c(-c2c(N3CCC5CCCCC5(C)C3)cccc2)ccc1Cl,NaN,NaN
1088,1088,c12c(ccc1)c(C(=O)NC1c3ccccc3CC1O)C(=O)N2c1ccccc1,NaN,NaN

In [4]:
df_2 = pd.read_csv('./Finetuning_result_256256_901Extra.csv')
df_2

,Unnamed: 0,can,score,time
0,0,O=C1C(=O)N(Cc2ccccc2F)c2ccc(F)cc21,-6.1,177.477634
1,1,C1C(C2CCCN2c2c(=O)[nH]cc(C(=O)O)c2Cl)OS(=O)(C)C1,-5.7,306.806288
2,2,C(Nc1ccc(-c2c(C3CC3)cc(C)cc2)nc1C(NC(C)(C)C)=O...,-6.0,472.499229
3,3,c1ccc(C(=O)NC(c2ccccc2)c2sccn2)cc1,-5.6,195.597147
4,4,O1C2OCCCC2C(c2ccccc2C(F)(F)F)N(C(C)(C)C)C1=O,-6.3,305.240813
...,...,...,...,...
183,183,C1CCCCC1N(Cc1c(C2CCC2)cc(CC2CC2)nc1)c1ccccc1,-6.1,286.283137
184,184,C1C(C2=C(C(=O)NC)C3(CCCCC3)CCC2(C)CN)C=C1,-5.7,253.163022
185,185,O=C(NC(C(F)(F)F)C(F)(F)F)CCC(=O)N1CCNCC1,-5.7,233.284153
186,186,s1c(-c2c(N3CCC5CCCCC5(C)C3)cccc2)ccc1Cl,-6.6,211.228599
187,187,c12c(ccc1)c(C(=O)NC1c3ccccc3CC1O)C(=O)N2c1ccccc1,-7.1,371.688478

In [5]:
df = df.loc[0:900, :]
df

,Unnamed: 0,can,score,time
0,0,Nc1[CH]ncc1-c1ccc(C2=NS(=O)(=O)c3c(O)c(Cl)ccc3...,-7.4,180.017038
1,1,c1(C)c2c(C(NC(OC)=O)C(O)=O)c(cccc2)c(NC(=O)N)c1,-6.8,340.299574
2,2,FC(F)(F)c1cccc(CN2C[C@@H](C)C(=O)C2)c1NC(=O)C(...,-6.1,286.384959
3,3,OC(Cc1ccc2c(c1)N(C(=O)CO)CC2)C(Cc1ccccc1)=O,-5.7,300.086417
4,4,CN1c2ccccc2C(=O)Nc2ccccc2S1(=O)=O,-6.0,239.511909
...,...,...,...,...
896,896,N1CC(CC(=O)O)N(CC(C)(C)C)Cc2cccc(Cl)c21,-5.6,241.552697
897,897,c1(Nc2c(Cl)cccc2)nc2cccc(F)c12,-6.4,147.978609
898,898,c1ccc(C)c2c1cc(C(F)(F)F)n2Cc1ccc(C(=O)O)c(C)n1,-6.2,333.844349
899,899,c1ccc(-c2ccc3c(c2)CS(=O)(=O)N3c2ccc(O)s2)cc1Br,-7.2,233.205883
900,900,C(N2C(=O)CC3(CCNC3=O)c3ccccc23)Cc1c(=O)[NH]ccc1,-7.3,226.292415

In [8]:
mergedDf = pd.concat([df, df_2], axis = 0)

mergedDf = mergedDf.reset_index(drop = True)

mergedDf

,Unnamed: 0,can,score,time
0,0,Nc1[CH]ncc1-c1ccc(C2=NS(=O)(=O)c3c(O)c(Cl)ccc3...,-7.4,180.017038
1,1,c1(C)c2c(C(NC(OC)=O)C(O)=O)c(cccc2)c(NC(=O)N)c1,-6.8,340.299574
2,2,FC(F)(F)c1cccc(CN2C[C@@H](C)C(=O)C2)c1NC(=O)C(...,-6.1,286.384959
3,3,OC(Cc1ccc2c(c1)N(C(=O)CO)CC2)C(Cc1ccccc1)=O,-5.7,300.086417
4,4,CN1c2ccccc2C(=O)Nc2ccccc2S1(=O)=O,-6.0,239.511909
...,...,...,...,...
1084,183,C1CCCCC1N(Cc1c(C2CCC2)cc(CC2CC2)nc1)c1ccccc1,-6.1,286.283137
1085,184,C1C(C2=C(C(=O)NC)C3(CCCCC3)CCC2(C)CN)C=C1,-5.7,253.163022
1086,185,O=C(NC(C(F)(F)F)C(F)(F)F)CCC(=O)N1CCNCC1,-5.7,233.284153
1087,186,s1c(-c2c(N3CCC5CCCCC5(C)C3)cccc2)ccc1Cl,-6.6,211.228599
1088,187,c12c(ccc1)c(C(=O)NC1c3ccccc3CC1O)C(=O)N2c1ccccc1,-7.1,371.688478

In [ ]:
mergedDf.to_csv('')

In [23]:
sortDf = mergedDf.sort_values(by = ['score'], axis = 0)

sortDf

,Unnamed: 0,can,score,time
874,874,c1(S(=O)(=O)C)c2cccc(Cl)c2c1c(n1Cc1ccc(F)cc1)c...,-9.1,224.183903
260,260,C1(C2=C=CS(=O)(=O)N=C1c1cc(-c3ccc[nH]c3=O)nc(C...,-9.0,387.179504
753,753,c12cccc(Cn2c3c(c(=O)ccc(N)c3)n2)c1C1=C(CO)Nc2c...,-8.8,245.632612
356,356,O=C(NC12CC(C1)c1ccccc1S(=O)(=O)N2)c1cc(C(O)Cc1...,-8.7,480.518087
104,104,C(Cc1c(F)cc(F)c(F)c1)c1nn(Cc2ccc(F)cc2)n2ccc(=...,-8.7,324.128133
...,...,...,...,...
1054,153,c1(Sc2ccc(O)cc2)cn1C(C)C(O)Cl,-4.7,213.382000
181,181,Fc1cc(Br)c(NS(C)(=O)=O)cc1F,-4.7,161.835938
85,85,O=S(c1cc2occc2s1)O,-4.6,114.878525
1031,130,c1cc(OC)c(Br)c(C(N)=O)c1,-4.5,138.263433
435,435,c1c(O)ccc(Br)c1Br,-4.3,216.695041

In [24]:
sortDf.columns = ['Origin_index', 'Molecule', 'Score', 'Time']
sortDf.iloc[0:300,:]

,Origin_index,Molecule,Score,Time
874,874,c1(S(=O)(=O)C)c2cccc(Cl)c2c1c(n1Cc1ccc(F)cc1)c...,-9.1,224.183903
260,260,C1(C2=C=CS(=O)(=O)N=C1c1cc(-c3ccc[nH]c3=O)nc(C...,-9.0,387.179504
753,753,c12cccc(Cn2c3c(c(=O)ccc(N)c3)n2)c1C1=C(CO)Nc2c...,-8.8,245.632612
356,356,O=C(NC12CC(C1)c1ccccc1S(=O)(=O)N2)c1cc(C(O)Cc1...,-8.7,480.518087
104,104,C(Cc1c(F)cc(F)c(F)c1)c1nn(Cc2ccc(F)cc2)n2ccc(=...,-8.7,324.128133
...,...,...,...,...
242,242,C1C(C2=C(C(O)=O)[C@H](C(=O)Nc3cc(N)cc(Cl)c3)CS...,-6.9,394.789773
969,68,C(F)(F)(F)c1cc2c(cc1)NCC(OC(=O)NC(C)(C)C)CC2=O,-6.9,251.024268
970,69,c1c(-c2c(F)cccc2)c(C(O)=O)cc(C#CC2CCC2)c1C(=O)O,-6.9,337.927233
1068,167,C1(c2ccc(Cl)cc2)C(=O)OC2(CN(c3ccccc3)CC2)c1,-6.9,186.152063
342,342,CNC(=O)c1ccccc1NC(c1cc(C(F)(F)F)ccc1Br)=O,-6.8,257.629704

In [24]:
sortDF.to_csv('./Fintuning_result_boxSize_128_exhaustiveness_64.csv', index = False)